.row {
    position: absolute;
    width: 50%;
    left: 25%;
    margin-left: -50px;
}

#info {
    margin-right: 0%;
}

.inactive {
    visibility: hidden;
}

.active {
    visibility: visible;
}

.navbar {
    background: #0362D7;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.navbar a {
    text-align: center;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    text-decoration: underline;
    cursor: default;
    color: white;
}
