.row {
    position: absolute;
    width: 50%;
    left: 20%;
    margin-left: -50px;
}

#tab-logo {
    width: 150px;
    height: 75px;
    float: left !important;
}

.inactive {
    visibility: hidden;
}

.active {
    visibility: visible;
}

.navbar {
    background: black;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.navbar a {
    text-align: center;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    text-decoration: underline;
    cursor: default;
    color: white;
}